{% extends 'index.html' %}
{% block title %}
{{ batch_object }}
{% endblock %}
{% load qr_code %}
{% block main %}
    <header class="hero is-small is-black">
        <div class="hero-body columns">
            <div class="column is-2">
                <figure class="image is-128x128">
                    <img src="https://bulma.io/images/placeholders/480x480.png" alt="">
                </figure>
            </div>
            <div class="column is-10 w3-container">

                <h1 class="title"># {{ batch_object }}</h1>
                <h1 class="subtitle">{{ batch_object.product_line.product_name }}</h1>
                <a class="button is-link is-medium"
                   href="{% url 'product:generate_product_codes_for_batch' batch_object.uuid %}">Generate Product Codes
                    for Batch {{ batch_object.batch_number }}</a>
            </div>
        </div>
    </header>
    <section class="w3-margin">
        <div class="columns is-multiline is-centered">
            {% for product_code in product_codes %}
                <div class="column is-3 w3-center">
                    <div class="w3-padding w3-margin w3-border">
                        {% qr_from_text product_code.product_code size="m" image_format="png" error_correction="L" %}
                        {{ product_code }}
                    </div>
                </div>
            {% endfor %}
            {% if product_codes.has_next %}
                {% with product_codes as page_obj %}
                    {% include 'partials/paginator.html' %}
                {% endwith %}

            {% endif %}
        </div>
    </section>
{% endblock %}