{% load product_lines_tag %}

<aside class="menu w3-container w3-padding-large">
    <p class="menu-label w3-large w3-margin-top">
        General
    </p>
    <ul class="menu-list">
        <li class="w3-xlarge"><a
                class="{% if overview %}w3-light-green w3-text-white trans-400 has-text-weight-bold{% endif %}"
                href="/"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;Oveview</a></li>
        <li class="w3-xlarge"><a
                class="{% if activity %}w3-light-green w3-text-white trans-400 has-text-weight-bold{% endif %}"
                href="{% url 'frontend:activity' %}"><i class="fas fa-chart-line"></i>&nbsp;&nbsp;Activity</a></li>
        <li class="w3-xlarge"><a
                class="{% if analytics %}w3-light-green w3-text-white trans-400 has-text-weight-bold{% endif %}"
                href="{% url 'frontend:analytics' %}"><i class="fas fa-chart-pie"></i>&nbsp;&nbsp;Analytics</a></li>
        <li class="w3-xlarge"><a
                class="{% if collections %}w3-light-green w3-text-white trans-400 has-text-weight-bold{% endif %}"
                href="{% url 'frontend:collections' %}"><i class="fas fa-layer-group"></i>&nbsp;&nbsp;Collections</a>
        </li>
    </ul>
    <p class="menu-label w3-large w3-margin-top">
        Product Lines
    </p>
    <ul class="menu-list">
        {% with request|product_lines as pl %}
            {% for product_line in pl %}

                <li class="w3-xlarge">
                    <a class="{% if product_line.uuid == product_line_object.uuid %}w3-light-green w3-text-white trans-400{% endif %}"
                       href="{% url 'product:detail_productline' product_line.uuid %}">{{ product_line.product_name }}</a>
                </li>
            {% endfor %}

        {% endwith %}

    </ul>
    {% with request|batch_numbers as bn %}
        {% if bn %}
            <p class="menu-label w3-large w3-margin-top">
                Batch Numbers
            </p>
            <ul class="menu-list">
                {% for batch_number in bn %}

                    <li class="w3-xlarge">
                        <a class="{% if batch_number.uuid == batch_object.uuid %}w3-light-green w3-text-white trans-400{% endif %}"
                           href="{% url 'product:batch_detail' batch_number.uuid %}">{{ batch_number.batch_number }}
                            | {{ batch_number.product_line.product_name }}</a>
                    </li>
                {% endfor %}

            </ul>
        {% endif %}
    {% endwith %}
</aside>

