{% extends 'index.html' %}
{% block title %}
Generate Product Codes
{% endblock %}
{% load bulma_tags staticfiles static %}

{% block main %}
    <div class="container w3-padding-large">
        <form action="" method="post">
            <h1 class="menu-label w3-xlarge">Create Product {{ manufacturer }}</h1>
            {% csrf_token %}
            {% if batch_form %}
                {{ batch_form|bulma }}
            {% endif %}
            {{ product_form|bulma }}
            <button type="submit" class="button is-link">Submit</button>
        </form>
    </div>
{% endblock %}