{% extends 'index.html' %}
{% load product_lines_tag %}
{% load bulma_tags %}
{% block title %}
    Overview
{% endblock %}
{% load thumbnail %}
{% block main %}
    <div class="w3-container w3-margin-top">
        <div class="columns is-multiline">
            {% for product_line in product_lines %}
                <div class="column is-3">
                    <section class="card">
                        <p class="card-header-title is-centered">
                            <a href="{% url 'product:detail_productline' product_line.uuid %}">{{ product_line.product_name }}</a>
                        </p>
                        <a href="{% url 'product:detail_productline' product_line.uuid %}" class="is-1by1">
                            {% if product_line.photo %}
                                {% thumbnail product_line.photo "480x480" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                         title="Image of {{ product_line.product_name }}">
                                {% endthumbnail %}
                            {% else %}
                                <img src="https://bulma.io/images/placeholders/480x480.png"
                                     alt="Placeholder image for {{ product_line.product_name }}">
                            {% endif %}
                        </a>
                    </section>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if create_manufacturer_form %}
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Welcome to Chekkit, {{ request.user.first_name }}</p>
                </header>
                <form action="." method="post">
                    {% csrf_token %}
                    <section class="modal-card-body">
                       The ultimate end-to-end supply chain innovation. To complete your on-boarding, please enter your company details.
                        {{ create_manufacturer_form|bulma }}
                        {{ profile_form|bulma }}
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-link" type="submit">Continue</button>
                    </footer>
                </form>
            </div>
        </div>
    {% else %}
        {% with request|product_lines as pl %}
            {% if pl|length == 0 %}
                <div class="modal is-active w3-animate-right">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        {#                        <header class="modal-card-head">#}
                        {#                            <p class="modal-card-title">Choose an action</p>#}
                        {#                <button class="delete" aria-label="close"></button>#}
                        {#                        </header>#}
                        <section class="modal-card-body w3-padding-64">
                            <div class="w3-half w3-center">
                                <h1 class="heading menu-label w3-large" style="text-decoration: none">Generate
                                    Code</h1>
                                <a href="{% url 'product:create_product_line' %}?next={% url 'product:generate_product_codes' %}"
                                   class="is-white w3-large w3-text-light-green is-outlined trans-400">
                                    <i class="fas fa-qrcode fa-3x"></i>
                                </a>
                            </div>
                            <div class="w3-half w3-center">
                                <h1 class="heading menu-label w3-large" style="text-decoration: none">Invite
                                    Co-workers</h1>
                                <a href="{% url 'invitations:send-invite' %}"
                                   class="is-white w3-large w3-text-light-green is-outlined trans-400">
                                    <i class="fas fa-address-card fa-3x"></i>
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}


{% endblock %}
