{% extends 'account/accountbase.html' %}
{% block content %}
<div class="container">
  <h2>Create Product</h2>
  <div class="w3-row">
    <div class="w3-third w3-container w3-green">
      <h2>w3-third</h2> 
    </div>
    <div class="w3-third w3-container">
      <h2>w3-third</h2> 
      <!-- input for name of user -->
      <div class="field">
        <label class="label">Name :</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g Alex Smith">
        </div>
      </div>
    		<!-- input for email of user -->
        <div class="field">
          <label class="label">Email :</label>
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <!-- input for password of user -->
        <div class="field">
          <label class="label">Password :</label>
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
    		<!-- submit button -->
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <a class="button is-primary">Login</a>
          </p>
        </div>
    	<div class="w3-third w3-container">
    		<h2>w3-third</h2>
    	</div>
    </div>
  </div>
{% endblock %}